<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Defines standard Spring Boot log patterns and basic setup -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    
    <!-- Logging configuration properties -->
    <!-- You can specify the log path via SPRING_LOG_PATH env variable or default to logs/ -->
    <property name="LOG_FILE" value="${SPRING_LOG_PATH:-logs}/application.log" />

    <!-- File Appender definition -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- ECDF application specific logging levels -->
    <logger name="org.acmebank.people" level="INFO" />

    <!-- Hibernate SQL logging - set to DEBUG or TRACE to view queries/parameters -->
    <logger name="org.hibernate.SQL" level="WARN" />
    <logger name="org.hibernate.orm.jdbc.bind" level="WARN" />

    <!-- Spring Framework logging -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.security" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="FILE" />-->
    </root>

</configuration>
